:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;

    /* size */
    --base-space: 8px;
    --size-button: 60px;
    --font-size: 10px;
    --size-border: 4px;
    --size-thumbnail: 50px;

    /* animation */
    --animation-duration: 300ms;
}

body {
    height: 100vh;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;  /* 한 줄에 하나씩 나오도록 */
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
    transition: transform var(--animation-duration) ease;
}

.btn:hover,
.logo:hover {
    transform: scale(1.1);
}

.btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform var(--animation-duration) ease;
    margin-right: var(--base-space);
}

.imgBtn {
    width: var(--size-button);
    height: var(--size-button);
}

.colorBtn {
    font-size: var(--font-size);
    padding: calc(var(--base-space)*2);  /* calc: 계산할 수 있는 함수 */
    border-radius: var(--size-border);
}

.btnB {
    background-color: var(--color-blue);
}

.btnY {
    background-color: var(--color-yellow);
}

.btnP {
    background-color: var(--color-pink);
}

.items {
    width: 60%;  /* %: 부모 요소의 크기의 영향을 받아 크기가 변함. 반응형 작업시 주로 사용. 상대단위 */
    height: 60%;
    list-style: none;  /* .지움 */
    padding-left: 0;
    overflow-y: scroll;
}

.item {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    padding: var(--base-space);
    margin-bottom: var(--base-space);
}

.item__thumbnail {
    width: var(--size-thumbnail);
    height: var(--size-thumbnail);
}

.item__description {
    margin-left: var(--base-space);
    font-size: var(--font-size);
}